# Course Notes
Use this workspace to take notes, store code snippets, or build your own interactive cheatsheet! The datasets used in this course are available in the `datasets` folder.

In [2]:
# Import any packages you want to use here
import pandas as pd
import seaborn as sns

## Take Notes

How to handling outliers

IQR: Inter quartile range is difference between 25th and 75th percentile

Box plot lower range is 25 and upper range is 75 while middle is 50th percentile
Upper Outliers: above 75 + 1.5*IQR
Lower Outliers: lower 25 - (1.5*IQR)

https://campus.datacamp.com/courses/exploratory-data-analysis-in-python/data-cleaning-and-imputation?ex=12

_Add your notes here_

In [14]:
salaries = pd.read_csv(r'./datasets/ds_salaries_clean.csv')
salaries.head()

#Calculate percentile of salary
seventy_fifth = salaries['Salary_USD'].quantile(0.75)
print(seventy_fifth)

twenty_fifth = salaries['Salary_USD'].quantile(0.25)
print(twenty_fifth)

IQR = seventy_fifth - twenty_fifth
print(IQR)
upper = seventy_fifth + (1.5 *IQR)
lower = twenty_fifth - (1.5 *IQR)

# Below are outliers records
salaries[(salaries['Salary_USD'] > upper) | (salaries['Salary_USD'] < lower)]\
[["Experience", "Employee_Location", "Salary_USD"]]

143225.0
59893.0
83332.0

    Experience Employee_Location  Salary_USD
25   Executive                US    310321.0
33         Mid                US    429675.0
63      Senior                US    393392.0
97         Mid                US    429675.0
157        Mid                US    403895.0
225  Executive                US    397211.0
252  Executive                US    572900.0
482  Executive                US    309366.0
519     Senior                US    362837.0
523     Senior                US    386708.0

In [15]:
#dropping outliers

no_outliers = salaries[(salaries['Salary_USD'] > lower) & (salaries['Salary_USD'] < upper)]
no_outliers.describe()

       Working_Year  Remote_Working_Ratio     Salary_USD
count    597.000000            597.000000     597.000000
mean    2021.412060             70.686767  102328.480737
std        0.688634             40.797800   55910.790653
min     2020.000000              0.000000    2730.000000
25%     2021.000000             50.000000   59819.000000
50%     2022.000000            100.000000   95483.000000
75%     2022.000000            100.000000  141565.000000
max     2022.000000            100.000000  263534.000000